mixin button_link(link, id, classes, icon, text)
  .row.enviar
    a(href=link)
      +button(id, classes, icon, text)

mixin button(id, classes, icon, text)
  button(id=id, class=classes).waves-effect.waves-light.btn-small.col.s3
    i.material-icons.left #{icon}
    span= text

